.navbar {
  /* padding: 40px 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid; */
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background-color: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #d9d4d3;
}

.navbar-nav .nav-link.active {
  color: #49557e !important;
  font-weight: 600;
  border-bottom: 2px solid #49557e;
  padding-bottom: 2px;
}

.navbar-nav .nav-link:hover {
  color: tomato !important;
}

.navbar li {
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

.navbar-right img {
  width: 20px;  
  height: 20px;  
  object-fit: contain;
  cursor: pointer;
}

.navbar-search-icon img {
  width: 22px;   
  height: 22px;
}



.navbar-profile{
  position: relative;
}
.nav-profile-dropdown{
  position: absolute;
  right: 0;
  z-index: 1;
  display: none;
}
.navbar-profile:hover .nav-profile-dropdown{
   display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #fff2ef;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none; 
  /* margin-top: 10px; */
}
.nav-profile-dropdown li{
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 10px;
  cursor: pointer;
}
.nav-profile-dropdown img{
  width: 20px;
}
.nav-profile-dropdown li:hover{
  color: tomato;
}


/* ✅ Responsive fix for <530px */
@media (max-width: 530px) {
  .navbar .logo {
      width: 130px; /* smaller logo */
  }

  .navbar-right {
      gap: 15px; /* reduce gap */
  }

  .navbar-right img {
      width: 18px; 
      height: 18px;
      /* border: 1px solid red; */
  }

  .navbar-search-icon img {
      width: 20px;
      height: 20px;
  }

  .navbar button {
      font-size: 20px;
      padding: 6px 12px; /* smaller button */
  }
}

@media (max-width: 450px) {
  .navbar .logo {
    width: 120px; /* smaller logo */
}

.navbar-right {
    gap: 15px; /* reduce gap */
}
  .navbar button {
    font-size: 15px;
    padding: 6px 12px; /* smaller button */
}

.navbar-right img {
  width: 15px; 
  height: 15px;
  /* border: 1px solid red; */
}

.navbar-search-icon img {
  width: 18px;
  height: 18px;
}
}


@media (max-width: 420px) {
  .navbar .logo {
    width: 100px; /* smaller logo */
}

.navbar-right {
    gap: 5px; /* reduce gap */
}
  .navbar button {
    font-size: 13px;
    padding: 6px 10px; /* smaller button */
}

.navbar-right img {
  width: 14px; 
  height: 14px;
  /* border: 1px solid red; */
}

.navbar-search-icon img {
  width: 18px;
  height: 18px;
}
}